*{
    margin: 0;
}

.first-container-home{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    //background-image:url("./../docs/home-page.png"); 
    //background-repeat:no-repeat ;
    //background-size: 100% 100%;
}
    .second-container-home {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        justify-content: flex-start;
        align-items:center;
        background-image:url("./../docs/home-page.png"); 
        background-repeat:no-repeat ;
        background-size: 100% 100%;
    }
            .navbar{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                width: 90vw;
                height: 15vh;
                color:#067D44;
                background-color: #F3C623;
            }
                    .navtitle{
                        font-size: 50px;
                        margin-left:40px;
                        margin-bottom: 10px;
                    }
                    .navelement2{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        align-items:flex-end;
                    }
                        .navtext{
                            color: #067D44;
                            font-size: 20px;
                            margin-right: 30px;
                            margin-bottom: 5px;
                        }
            .welcometext{
                font-family: "Merriweather", serif;
                font-size: 1.4vw;
                margin-top: 50px;
                color:#067D44
            }
            .container-footer{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items:center;
                width: 100vw;
                height: 5vh;
                color:#067D44;
                background-color: #F3C623;
            }
.first-container-login{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image:url("./../docs/Login-page.png"); 
    background-repeat:no-repeat ;
    background-size: 100% 100%;
}
.first-container-signup{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image:url("./../docs/SignUp-page.png"); 
    background-repeat:no-repeat ;
    background-size: 100% 100%;
}
.first-container-addsmoothie{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image:url("./../docs/SignUp-page.png"); 
    background-repeat:no-repeat ;
    background-size: 100% 100%;
}